<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/navbar.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

</head>

<body>

  <header>

    <nav>
      <a class="logo"><img src="../assets/img/Code.png"> Emanuelle Gomes</a>

      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>

      <ul class="nav-list">

        <li><a href="/" data-link>Início</a></li>

        <li><a href="/pages/about.html" data-link>Sobre</a></li>
        <li><a href="/pages/education.html" data-link>Formação</a></li>
        <li><a href="/pages/cards.html" data-link>Projetos</a></li>
        <li><a href="/pages/contact.html">Contato</a></li>

        <li>
          <div class="language-switcher">

            <button id="lang-btn" class="lang-button">
              <img src="../assets/img/brasil.jpg" alt="Brasil" class="flag-icon">
              <span class="lang-code">PT</span>
            </button>

            <div class="tooltip">Language</div>

            <div id="lang-options" class="lang-options">

              <button data-lang="pt">
                <img src="../assets/img/Brasil.jpg" alt="Brasil">
                <span>PT-BR</span>
              </button>

              <button data-lang="en">
                <img src="../assets/img/EUA.png" alt="Estados Unidos">
                <span>EN-US</span>
              </button>

            </div>
            
          </div>
        </li>

      </ul>

      </div>

    </nav>

  </header>

  <script src="assets/js/include.js"></script>

</body>

</html>