.projects {
  max-width: 140vh;
  max-height: 140vh;
  margin: 0 auto;
}

.projects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 10vh;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  align-items: center;
  text-align: center; 
  border-radius: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.card-img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card-img img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.card-title {
  width: 100%;
  background-color: rgba(63, 9, 107, 0.3);
  padding: 10px;
  border-radius: 10px 10px 0 0;
  border: 1px solid rgb(103, 101, 230);
}

.card-title a {
  text-decoration: none;
}

.card-title a > h1 {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.card-description {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.links {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
}

.links .git {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  color: white; /* Texto branco para melhor contraste */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Borda mais clara */
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05); 
}

.links .git:hover {
  color: #a78be0;
  transform: scale(1.1) translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.5);
}
