a {
  font-family: 'Times New Roman', Times, serif;
  color: #4834a5;
  text-decoration: none;
  transition: 0.3s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 8vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav .logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .logo img {
  height: 30px;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
}

.nav-list li {
  letter-spacing: 3px;
}

nav .nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

nav .nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.nav-list a.active {
  border-bottom: 1px dotted #6a4de9;
  font-weight: 600;
  color: #523bbb;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #4834a5;
  margin: 8px;
  transition: 0.3s;
}

.language-switcher {
  display: flex;
  align-items: center;
  position: relative;
}

.lang-button {
  width: 40px;
  height: 40px;
  border: 2px solid #4834a5;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px rgba(72, 52, 165, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}

.lang-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

.lang-button .flag-icon {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50px;
}

.flag-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tooltip {
  position: absolute;
  background-color: rgba(70, 57, 187, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(5px);
  z-index: 1001;
}

.language-switcher:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.lang-code {
  display: none;
  margin-left: 5px;
  font-size: 0.8rem;
  color: #4834a5;
}

.lang-options {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  padding: 0.5rem 0;
  z-index: 10;
}

.lang-options button {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  color: #4834a5;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  text-align: left;
  outline: none;
  transition: background-color 0.3s ease;
}

.lang-options button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.lang-options.open {
  display: flex;
}

.lang-options button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 3px;
  margin-right: 5px;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  body {
    overflow-x: hidden;
    padding-top: 8vh;
    background-color: #ceaef1;
  }

  .nav-list {
    position: fixed;
    top: 8vh;
    right: 0;
    width: 40vw;
    height: 92vh;
    background: rgba(204, 175, 238, 0.8);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 1000;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

  .nav-list.active {
    transform: translateX(0);
  }

  .language-switcher {
    width: 100%;
    display: flex;
    justify-content: center;
  }

}